<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Select Amount</title>
</head>
<body>
<div class="container">
    <h2>Select Amount</h2>
    <form action="{{ url_for('result') }}" method="post">
        {% for amt in [20, 40, 60, 80, 100] %}
        <button type="submit" name="amount" value="{{ amt }}">{{ amt }} PHP</button>
        {% endfor %}
    </form>
    <a href="{{ url_for('abort') }}" class="button"><button>Abort</button></a>
</div>
</body>
</html>
