<!DOCTYPE html>
<html>
<head>
    <title>Kiosk</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/typography.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/qrcode.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/warning.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">	
    <style>
        .bottom-center {
            position: fixed;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            width: 80%;
            max-width: 500px;
        }
    </style>
</head>
<body>
    <div class="overlay">
        <div class="top-bar">E-WALLET CASHOUT KIOSK</div>
    <div class="container">
    <br>
    <br>
    <br>
        <br>
        <br>
        <br>
        <br>
        <b><p>Note: This machine does not accept any other than GCash transactions.<br><br>Tap OK to continue.</p></b>
    </div>

    <div class="bottom-center">
        <form action="{{ url_for('select') }}" method="get">
            <button type="submit">OK</button>
        </form>
    </div>
</body>

<script>
    document.addEventListener('contextmenu', function (e) {
        e.preventDefault();
    });
</script>

</html>
